.container {
    display: flex;
    width: 100%;
    height: 60px;
    padding: 10px 60px;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
    border-bottom: 1px solid var(--mantine-color-gray-light)
}
.link {
    display: flex;
    align-items: center;
    gap: 8px;
}
.link svg {
    width: 24px;
    height: 24px;
}